{% extends 'base.html.twig' %}

{% block title %}
	{{ titulo }}
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin: 1em auto;
			max-width: 800px;
			width: 100vw;
			font: 18px / 1.5 sans-serif;
		}
	</style>

	<div class="example-wrapper text-center">
		<h1>Bem vindo ao Centro de Estudos Symfony</h1>
	</div>
{% endblock %}
